.square {
  stroke: black;
  stroke-width: 2;
  fill: lightgray;
  }
  
.arrow {
  fill: lightgrey;
  stroke: darkslategrey;
  stroke-width: 2;
}  

.number {
  font-size: 36;
  font-family: sans-serif;
  text-anchor: middle;
  fill: lightgrey;
  stroke: darkgrey;
  stroke-width: 3;
}
  